// install python in linux and install venv3
sudo apt update
apt list --upgradable
sudo apt upgrade
sudo apt dist-upgrade
sudo apt autoremove


now test if python is installed
sudo apt-get upgrade python3

we need to install the python3-venv package
sudo apt-get install python3-venv

Now we can create a virtual environment. Let`s make a new directory to
work in and create the environment:
mkdir bhp
cd bhp
python3 -m venv venv3
source venv3/bin/activate
python